:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

$shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$semi-bg: #e2ece8;
$active-bg: #a3dac0;
$border-bg: #3cb871;
$main-bg: #f6f6f6;
$shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

*, html, body {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: systemUi, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

//app
.wrapper {
  max-width: 100vw;
  padding-bottom: 50px;
}

.container {
  width: 90vw;
  margin: 0 auto;
  align-items: center;
}

// heading
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  background-color: $semi-bg;
  box-shadow: $shadow-md;
}

.heading_container {
  position: relative;
  width: 70%;
}

.heading_input {
  outline: none;
  border: none;
  width: 100%;
  box-shadow: $shadow-md;
  padding: 15px 10px;
  border-bottom: 1px solid $border-bg;
  font-size: 20px;
}

.heading_btn {
  margin-left: 5px;
  padding: 15px 10px;
  border: none;
  border-bottom: 1px solid $active-bg;
  background-color: $main-bg;
  color: black;
  font-size: 20px;
  box-shadow: $shadow-md;
  &:disabled {
    background-color: lightgray;
  }
  &:active{
    background-color: #26a1e3;
  }
}

//modal
.heading_modal {
  z-index: 999;
  position: absolute;
  box-shadow: $shadow-md;
  top: 55px;
  left: 0;
  right: 0;
  background-color: white;
  color: black;
  padding: 10px 10px 10px 10px;
  overflow-x: auto;

  li {
    box-shadow: $shadow-lg;
    background-color: white;
    margin-top: 15px;
    padding: 10px 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    position: relative;

    &::before {
      content: '';
      width: 4px;
      height: 100%;
      background-color: $active-bg;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}


//mainPage
.mainPage {

  &_content-item {
    background-color: $main-bg;
    padding: 15px;
    box-shadow: $shadow-md;
  }

  &_item-var {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 400;
    position: relative;

    &:before {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      position: absolute;
      top: 0;
      left: -10px;
      background-color: #3cb871;
      content: '';
      width: 4px;
      height: 100%;
    }
  }

  &_item-val {
    font-size: 16px;
    position: relative;

    &:before {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      position: absolute;
      top: 0;
      left: -10px;
      background-color: #26a1e3;
      content: '';
      width: 4px;
      height: 100%;
    }
  }

  &_content {
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap: 20px;
    @media (max-width: 1366px) {
      grid-template-columns:repeat(3, 1fr);
    };
    @media (max-width: 992px) {
      grid-template-columns:repeat(2, 1fr);
    };
    @media (max-width: 576px) {
      grid-template-columns:repeat(1, 1fr);
    }
  }

  &_link-container {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 150px;
    background-color: $semi-bg;
    text-align: center;
    text-transform: capitalize;
    padding: 10px 15px;
    box-shadow: $shadow-md;
    border-bottom: 1px solid $active-bg;
    text-decoration: none;
    color: black;

    transition: background-color 0.2s;

    &:hover {
      background-color: #26a1e3;

    }
  }
}

// pagination
.pagination_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}

.pagination_item {
  box-shadow: $shadow-lg;
  border-bottom: 2px solid #26a1e3;
  width: 20px;

  &-active {
    box-shadow: $shadow-lg;
    border-bottom: 2px solid $border-bg;
    background-color: $semi-bg;
    width: 20px;

    a {
      display: block;
      text-align: center;
      padding: 4px 0;
      text-decoration: none;
      color: black;
    }
  }

  a {
    display: block;
    text-align: center;
    padding: 4px 0;
    text-decoration: none;
    color: black;
  }
}


.content {
  padding: 4px 8px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  min-height: 50px;
  font-size: 16px;
  background-color: white;
  color: black;
}

//table && FullInfoPage
.fullInfoPage_link {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 150px;
  background-color: $semi-bg;
  text-align: center;
  text-transform: capitalize;
  padding: 10px 15px;
  box-shadow: $shadow-md;
  border-bottom: 1px solid $active-bg;
  text-decoration: none;
  color: black;

  transition: background-color 0.2s;

  &:hover {
    background-color: #26a1e3;
  }
}


table.paleBlueRows {
  box-shadow: $shadow-lg;
  width: 100%;
  text-align: center;}

table.paleBlueRows td, table.paleBlueRows th {
  max-width: 25vw;
  border: 1px solid $border-bg;
  padding: 3px 1px;
}

table.paleBlueRows tbody td {
  font-size: 0.9rem;
  padding: 10px 0;
  overflow-x: auto;
}

table.paleBlueRows tr:nth-child(even) {
  background: $semi-bg;
}

table.paleBlueRows thead {
  background: $active-bg;
  border-bottom: 5px solid $active-bg;
}

table.paleBlueRows thead th {
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  text-align: center;
  border: 2px solid $active-bg;
}

table.paleBlueRows thead th:first-child {
  border-left: none;
}

table.paleBlueRows tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  background: #D0E4F5;
  border-top: 3px solid #444444;
}

table.paleBlueRows tfoot td {
  font-size: 14px;
}

// loader
.lds-spinner {
  display: inline-block;
  //position: relative;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50vh;
  left: 50vw;
}

.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: black;
}

.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.isEmptyItems {
  font-size: 40px;
  text-transform: capitalize;
  position: relative;
  margin-bottom: 20px;
  &:before{
    content: '';
    width: 5px;
    height: 95%;
    position: absolute;
    top:0;
    left: -10px;
    background-color: #26a1e3;
  }
}
